<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %> </title>
    <link rel="stylesheet" href="/bootstrap.css" />
    <script src="/bootstrap.js"></script>
</head>
<body>
    <div class="container">
<%- include ('./partials/menu') %>
<% entries.posts.forEach((entry)=>{ %>
        <div class="card-body ">
        <p><%= entry.author%> 
            <% if (name === entry.author || role === 'admin') { %>
                <a href="posts/edit/<%= entry.id %>" ><img src="/img/pencil.png" width="15" alt="изменить" /></a>
                <a href="posts/delete/<%= entry.id %>" ><img src="img/rectangle.png" width="15" alt="удалить" /></a>
            <% } %></p>
        <p>
            <%= entry.title %>
        </p>
        <p>
            <%= entry.body %>
        </p>
        </div>
    </br>
<% }) %>

</div>
</body>
</html>
